basicsr==1.4.2
diffusers==0.28.0
dlib==19.24.6
einops==0.8.0
gradio==4.44.0
matplotlib==3.9.2
numpy==1.23.0
omegaconf==2.3.0
open_clip_torch==2.24.0
opencv_python==4.9.0.80
opencv_python_headless==4.10.0.84
Pillow==10.4.0
pytorch_lightning==2.2.5
Requests==2.32.3
safetensors==0.4.5
scipy==1.14.1
timm==0.6.7
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.28.0
webdataset==0.2.86
xformers==0.0.26.post1
scikit-image==0.22.0